@{
    ViewData["Title"] = "Buzzlings";
}

@model DashboardViewModel

<div class="text-center">
    <div class="custom-panel-wrapper mt-2" style="max-width: 400px; width: 100%; margin: auto;">
        <div class="card custom-panel" style="width: 100%;">
            <div class="card-body p-1">
                <b>🐝 Hello @User.Identity!.Name! 🐝</b>
            </div>
        </div>
    </div>
</div>
<div class="custom-panel-wrapper mt-2" style="max-width: 300px; width: 100%; margin: auto;">
    <div class="card custom-panel" style="max-width: 300px; width: 100%; margin: auto;">
        <div class="card-body p-2">
            <div class="d-flex flex-wrap justify-content-between gap-2">
                <a asp-controller="Home" asp-action="Index" class="btn btn-dark w-48">Home</a>
                <a asp-controller="Account" asp-action="Index" class="btn btn-dark w-48">Account</a>
                <a asp-controller="Dashboard" asp-action="LogOut" class="btn btn-dark w-48">Log out</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    @if (Model.User?.HiveId is not null)
    {
        <div class="text-center">
            <div class="custom-panel-wrapper mt-2" style="max-width: 500px; width: 100%; margin: auto;">
                <div class="card custom-panel" style="width: 100%;">
                    <div class="card-body p-1">
                        <b>🍯 @Model.User?.Hive?.Name 🍯</b>
                        <br />
                        <b id="hiveAge">Age: @Model.User?.Hive?.Age</b>
                        <span id="hiveAgeDescription">
                            @if (Model.User?.Hive?.Age != 1)
                            {
                                <b> days old | </b>
                            }
                            else
                            {
                                <b> day old | </b>
                            }
                        </span>
                        <b id="hiveHappiness">Happiness: @Model.User?.Hive?.Happiness%</b>
                    </div>
                </div>
            </div>
            <!-- Flex container for event log and buzzlings table -->
            <div class="flex-container">
                <!-- Event Log (left side) -->
                <div class="left-container">
                    <div class="custom-panel-wrapper mt-2">
                        <div class="card custom-panel" style="width: 100%;">
                            <div class="card-body p-2">
                                <div id="eventLog" class="event-log" aria-live="polite"></div>
                            </div>
                        </div>
                    </div>
                    @if (TempData["IsUpdateAttempt"] != null && (bool)TempData["IsUpdateAttempt"]! is false)
                    {
                        <partial name="_CreateBuzzlingPartial" />
                    }
                    else
                    {
                        <partial name="_UpdateBuzzlingPartial" />
                    }
                </div>
                <!-- Buzzlings Table (right side) -->
                <div class="custom-panel-wrapper mt-2 buzzlings-table-container">
                    <div class="card custom-panel" style="width: 100%;">
                        <div class="card-body p-2">
                            <input type="text" id="searchInput" class="form-control mb-2" placeholder="Search buzzling by name..." style="border-radius: 0; border: 2px solid black;" />
                            <div id="buzzlingsTable" class="table-container">
                                @await Html.PartialAsync("_BuzzlingsTablePartial", Model.User!.Hive?.Buzzlings)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="vertical-center">
            <div class="text-center">
                <div class="custom-panel-wrapper mt-2" style="max-width: 400px; width: 100%; margin: auto;">
                    <div class="card custom-panel" style="width: 100%;">
                        <div class="card-body p-3">
                            <div class="text-center">
                                <b>You do not have a hive yet - time to create one!</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="custom-panel-wrapper mt-2" style="max-width: 400px; width: 100%; margin: auto;">
                    <div class="card custom-panel" style="max-width: 400px; width: 100%; margin: auto;">
                        <div class="card-body p-3">
                            <form method="post" asp-controller="Dashboard" asp-action="CreateHive">
                                @Html.AntiForgeryToken() <!-- CSRF protection -->

                                <div class="mb-3">
                                    <label asp-for="HiveName" class="form-label"><b>Hive name</b></label>
                                    <input asp-for="HiveName" type="text" class="form-control" id="hivename" placeholder="Enter the hive name" />
                                    <span asp-validation-for="HiveName" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-dark">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @{
        <partial name="_DashboardScriptsPartial" />
    }
}