@using Buzzlings.Data.Constants
@model ICollection<Buzzlings.Data.Models.Buzzling>

<table class="fixed-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Mood</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Buzzlings.Data.Models.Buzzling buzzling in Model)
            {
                <tr>
                    <td>@buzzling.Name</td>
                    <td>@buzzling.Role?.Name</td>
                    @{
                        string moodEmoji = "😄";

                        if (buzzling.Mood >= BuzzlingConstants.MoodHighThreshold)
                        {
                            moodEmoji = "😄";
                        }
                        else if (buzzling.Mood >= BuzzlingConstants.MoodMediumThreshold && buzzling.Mood < BuzzlingConstants.MoodHighThreshold)
                        {
                            moodEmoji = "😕";
                        }
                        else
                        {
                            moodEmoji = "😡";
                        }

                        <td style="font-size:28px;">@moodEmoji</td>
                    }
                    <td>
                        <!-- Use <a> instead of form for GET. Take advantage of the default routing /Controller/Action/ID -->
                        <a asp-controller="Dashboard" asp-action="UpdateBuzzling" asp-route-id="@buzzling.Id" class="btn btn-sm btn-table">🖊️</a>
                    </td>
                    <td>
                        <!-- Using asp-route-id instead of a hidden input to take advantage of the default routing /Controller/Action/ID -->
                        <form asp-controller="Dashboard" asp-action="DeleteBuzzling" asp-route-id="@buzzling.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-table">❌</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>